.App {
  text-align: center;
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  scroll-behavior: smooth;
  color: #636363;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}


/* WELCOME SECTION */

.welcome-section {
  font-size: calc(10px + 2vmin);
  color: #636363;
  height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  text-align: center;
}


#sub-heading {
  margin: 0 0 20px 0;
}

.s3-header, .s3-icon3, h3, h4 {
  margin: 10px 0;
}

.s3-icon3 {
  max-width: 300px;
  height: auto;
  display: block;
}

.s3-icon3.small-icon {
  width: 100px;
  height: auto;
  position: absolute;
  bottom: -7rem;
  right: -1rem;
}


/* ABOUT SECTION */

.about-section {
  height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  background-color: #e0e0e0;
  text-align: center;
  padding: 5em;
  position: relative;
}

.about-header {
  margin: 0 0 20px 0;
}

#about-subtitle {
  text-align: left;
}

.everyone-matters-icon {
  max-width: 80px;
  height: auto;
  display: block;
  position: absolute;
  bottom: 3em;
  right: 3em;
}

/* Action Section Styling */

.action-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #b0b0b0;
  text-align: center;
  padding: 25px;
}

.navigation-buttons {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.navigation-buttons button {
  padding: 15px 30px;
  font-size: 20px;
  font-weight: bold;
  color: #4a90e2; /* Blue font color */
  background-color: #fdd835; /* Yellow background */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.navigation-buttons button:hover {
  background-color: #fbc02d; /* Slightly darker yellow on hover */
  transform: scale(1.05);
}

.navigation-buttons button:focus {
  outline: none;
}


/* Form Styling */

.contribute-section {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5E9DCF;
  text-align: center;
}

.map-container {
  height: 70vh;
  width: 80vw;
  margin: 50px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0px 5px 5px 5px;
}

.survey-section {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5E9DCF;
  text-align: center;
}

.form-headers {
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin: 20px 0 0 5px;
}

.form-content {
  font-size: 20px;
  color: white;
  margin: 10px 0 0 0;
}

form {
  margin-top: 20px;
}

.list-container {
  margin: 3px;
}

.info-text {
  font-size: 16px;
  color: white;
  text-align: left;
  margin: 5px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="datetime-local"] {
  padding: 10px;
  margin-bottom: 20px;
  width: 90%;
  max-width: 400px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

button {
  padding: 10px 20px;
  background-color: #007acc;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
}

button:hover {
  background-color: #005fa3;
}


/* Map Styling */

.explore-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c0c0c0;
  text-align: center;
}

